
$accentColor = rgba(255,255,255,0.7)//默认主题颜色
$borderColor = rgba(255,255,255,0.7)//默认边框颜色
$codeBgColor = #282c34//默认背景颜色
$backgroundColor = #91d5ff 

.page-nav, .page-edit, .theme-default-content:not(.custom) {
    max-width: 1200px;
}

.nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active {
    margin-bottom: -2px;
    border-bottom: none;
    color: #FD971F;
}

.custom-block.tip {
    background-color: #282c34;
    color: #fff;
    border-color: rgba(255,255,255,0.7);
    border-radius: 6px;
}

.custom-block .custom-block-title, .custom-block p {
    color: rgba(255,255,255,0.7);
}

img{
    border-radius: 6px;
    filter: brightness(0.8);
}

body {
    min-height: 100vh;
    color: rgba(255,255,255,0.7);
}

body, .navbar, .links, .sidebar, tr:nth-child(2n){
    background-color: #000c18;
}

.navbar .links {
    background-color: #000c18;
}

.search-box input {
    background-color: #000c18;
    border-color: rgba(255,255,255,0.7);
    color: #FD971F;
}

.navbar .site-name {
    color: rgba(255,255,255,0.7);
}

.home .hero .action-button {
    background-color: transparent;
    border: 1px dotted #F92672;
    color: #F92672;
}

.home .hero .action-button:hover {
    color: #FD971F;
    background-color: transparent;
    border: 1px dotted #FD971F;
}

.home .hero .description {
    color: #F92672;
}

.home .feature h2 {
    color: #FD971F;
}

.home .feature p {
    color: #FD971F;
}

h2, h3, h4, h5 {
    color: #FD971F;
}

.home .footer {
    color: #FD971F;
}

a.sidebar-link.active {
    border-left-color: transparent;
    color: #FD971F;
}

a.sidebar-link:hover {
    color: #FD971F;
}

a.sidebar-link{
    color: rgba(255,255,255,0.7);
}

a {
    color: #F92672;
}

::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track-piece
{
    background-color: #000c18;
}
::-webkit-scrollbar-thumb:vertical
{
    height: 5px;
    background-color: rgba(255,255,255,0.7);
}
::-webkit-scrollbar-thumb:horizontal
{
    width: 5px;
    background-color: #000c18;
}