
$accentColor = #AE81FF//默认主题颜色
$borderColor = #AE81FF//默认边框颜色
$codeBgColor = #282c34//默认背景颜色
$backgroundColor = #91d5ff 

.page-nav, .page-edit, .theme-default-content:not(.custom) {
    max-width: 1000px;
}

.nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active {
    margin-bottom: -2px;
    border-bottom: none;
    color: #FD971F;
    border: 1px dotted #FD971F;
}

.custom-block.tip {
    background-color: #F8F8F0;
    border-color: #AE81FF;
    border-radius: 6px;
}

.custom-block .custom-block-title, .custom-block p {
    color: #000c18;
}

img{
    border-radius: 6px;
    filter: brightness(0.8);
}

body {
    min-height: 100vh;
    color: #AE81FF;
}

body, .navbar, .links, .sidebar, tr:nth-child(2n){
    background-color: #000c18;
}

a.sidebar-link{
    color: #F92672;
}

.navbar .links {
    background-color: #000c18;
}

.search-box input {
    background-color: #000c18;
    border-color: #AE81FF;
    color: #FD971F;
}

.navbar .site-name {
    color: #AE81FF;
}

.home .hero .action-button {
    background-color: transparent;
    border: 1px dotted #AE81FF;
    color: #F92672;
}

.home .hero .action-button:hover {
    color: #fff;
}

.home .hero .description {
    color: #F92672;
}

.home .feature h2 {
    color: #FD971F;
}

.home .feature p {
    color: #FD971F;
}

h2, h3, h4, h5 {
    color: #FD971F;
}

.home .footer {
    color: #FD971F;
}